* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}




.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}
.color-orange {
    color: #FD6E0A;
}

/* nav-section */



header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("./portfolio-1/images/developer.png"), url("./portfolio-1/images/header_bg.png"),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;

    
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

/* hero section */

.btn {
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    cursor: pointer;
}


.btn-2{

    width: 160px;
    height: 64px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A ;
    cursor: pointer;
}




.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 38px 0px 230px;
}

.banner-content{
    max-width: 585px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;


}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20PX;
}
.banner-content P{

    font-size: 18PX;
    line-height: 30PX;
    color: #757575;
    margin-bottom: 30px;
}


.banner-img img{
    max-width: 584px;
    vertical-align: middle;
}

